* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 0.8em 1.2em;
  background: #777;
  color: #fff;
  text-align: none;
  border-radius: 8px;
  transition: 0.15s ease;
  text-decoration: none;
}
.button:hover {
  background: #8f8e8e;
}

.hero {
  height: 100dvh;
  display: flex;
  align-items: center;
  padding: 0 min(5%, 150px);
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.hero h1 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 16px;
}
